<div class="fixed inset-0 z-50 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-center justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75" @enter aria-hidden="true"></div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div
            class="inline-block overflow-hidden text-left transition-all duration-200 transform rounded-lg shadow-xl bg-first sm:my-8 sm:align-middle">
            <div class="px-4 pt-5 pb-4 border-b sm:p-6 sm:pb-4 bg-second">
                <div class="sm:items-start">
                    <h3 class="text-xl font-bold text-first">
                        {{ title }}
                    </h3>
                </div>
            </div>
            <div class="p-8">
                <div *ngIf="errors.length > 0" class="p-3 mb-2 rounded bg-danger text-first">
                    <ul>
                        <li *ngFor="let error of errors">{{ error }}</li>
                    </ul>
                </div>
                <ng-container *ngTemplateOutlet="contentRef"></ng-container>
            </div>
            <div class="flex justify-end px-4 py-3 space-x-5 bg-third">
                <ng-container *ngTemplateOutlet="buttons"></ng-container>
                <button type="button" class="btn button-secondary" (click)="closed.next()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>