<app-card (click)="openAddModal('Add Fog', addModalTemplate, submitButton)" *ngIf="global.isFog()">
    <slot-content>
        <fa-icon class="text-6xl opacity-70 hover:opacity-100" [icon]="'plus'" [fixedWidth]="true"></fa-icon>
    </slot-content>
</app-card>

<ng-container *ngIf="fogs?.length > 0">
    <app-card *ngFor="let fog of fogs">
        <slot-content class="text-2xl">{{ fog.name }}</slot-content>
        <slot-buttons>
            <app-dropdown [icon]="ellipsis">
                <slot-options>
                    <app-dropdown-item>Edit</app-dropdown-item>
                    <app-dropdown-item (click)="deleteFog(fog)">Delete</app-dropdown-item>
                </slot-options>
            </app-dropdown>
        </slot-buttons>
    </app-card>
</ng-container>

<ng-template #addModalTemplate>
    <form [formGroup]="addFogForm"
          (ngSubmit)="onSubmit()">
        <div class="space-y-5">
            <app-form-group for="name" label="Name">
                <input type="text" formControlName="name" class="input">
            </app-form-group>
            <app-form-group for="mac_address" label="MAC Address">
                <input type="text" formControlName="mac_address" class="input">
            </app-form-group>
            <app-form-group for="ip_address" label="IP Address">
                <input type="text" formControlName="ip_address" class="input">
            </app-form-group>
            <app-form-group for="parent" label="Place">
                <input type="text" formControlName="place_name" class="input" readonly>
                <input type="hidden" formControlName="place_id" class="input">
            </app-form-group>
        </div>
    </form>
</ng-template>
<ng-template #submitButton>
    <button type="submit" class="btn button-primary" (click)="onSubmit()">
        Save
    </button>
</ng-template>
