<app-card>
    <slot-title>
        <a [routerLink]="['/dashboard/places', place.id]" *ngIf="!editing">
            {{ place.name }}
        </a>
        <ng-container *ngIf="editing">
            <div class="flex items-center justify-items-end">
                <form (submit)="save()">
                    <input type="text" class="input" name="name" [(ngModel)]="place.name">
                </form>
                <span (click)="edit()">
                    <fa-icon [icon]="'times'" [fixedWidth]="true"></fa-icon>
                </span>
            </div>
        </ng-container>
    </slot-title>
    <slot-content>
        <ul>
            <li class="inline-block py-2 mr-4" *ngFor="let place of place.places">
                <a class="opacity-70 hover:opacity-100" [routerLink]="['/dashboard/places', place.id]">
                    <fa-icon class="mr-1" [icon]="'location-arrow'" [fixedWidth]="true"></fa-icon>
                    <span>{{ place.name }}</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="inline-block py-2 mr-4" *ngFor="let device of place.devices">
                <a class="opacity-70 hover:opacity-100">
                    <fa-icon class="mr-1" [icon]="'bug'" [fixedWidth]="true"></fa-icon>
                    <span>{{ device.name  }}</span>
                </a>
            </li>
        </ul>
    </slot-content>
</app-card>

<ng-template #showModal>
    <span>Are you sure to remove this place? This will remove all children places and devices belonging to this
        place.</span>
</ng-template>

<ng-template #buttons>
    <button (click)="onConfirmDelete()" class="btn button-danger">Remove</button>
</ng-template>