<div
    class="flex items-center text-lg border-b-2 bg-second text-first border-forth lg:border-third lg:bg-first lg:text-second lg:dark:border-forth lg:dark:bg-second lg:dark:text-first">
    <span class="px-4 py-8 ml-4 text-lg">{{ device.name }}</span>
</div>

<div class="flex flex-col mt-4 sm:flex-row sm:justify-around">
    <span class="p-4 mx-4 mb-0 text-lg sm:mb-4 bg-first dark:bg-second rounded-2xl dark:text-first">MAC Address:
        {{ device.mac_address}}</span>
    <span class="p-4 mx-4 mt-4 mb-4 text-lg sm:mt-0 bg-first dark:bg-second rounded-2xl dark:text-first">IP Address:
        {{ device.ip_address}}</span>
</div>