.basic-card ul {
    display: flex;
    justify-content: left;
    margin-top: 15px;
}

fa-icon {
    padding-right: 5px;
    font-size: 1.1rem;
}

.basic-card ul a {
    color: var(--first-text-color);
    text-decoration: none;
    opacity: 0.7;
}

.basic-card ul a:hover {
    opacity: 1;
}