<app-subheader>
    <ul class="px-4 py-2 ml-4">
        <li class="inline-block p-4 mr-4 opacity-50" *ngFor="let place of places"
            [class]="currentTabId === place.id ? 'opacity-100' : ''">
            <a class="cursor-pointer" (click)="changeTab(place.id)">
                {{ place.name }}
            </a>
        </li>
    </ul>  
</app-subheader>

<app-content>
    <div *ngFor="let place of places">
        <ng-container *ngIf="currentTabId === place.id">
            <div class="">
                <app-card *ngFor="let subPlace of place.places">
                    <slot-title>
                        <a>
                            {{ subPlace.name }}
                        </a>
                    </slot-title>
                    <slot-content>
                        <ul class="text-center">
                            <li class="inline-block py-2 mr-4">
                                <a class="opacity-70 hover:opacity-100">
                                    <fa-icon class="mr-1" [icon]="'bug'" [fixedWidth]="true"></fa-icon>
                                    <span>Device 1</span>
                                </a>
                            </li>
                            <li class="inline-block py-2 mr-4">
                                <a class="opacity-70 hover:opacity-100">
                                    <fa-icon class="mr-1" [icon]="'bug'" [fixedWidth]="true"></fa-icon>
                                    <span>Device 2</span>
                                </a>
                            </li>
                            <li class="inline-block py-2 mr-4">
                                <a class="opacity-70 hover:opacity-100">
                                    <fa-icon class="mr-1" [icon]="'bug'" [fixedWidth]="true"></fa-icon>
                                    <span>Device 3</span>
                                </a>
                            </li>
                            <li class="inline-block py-2 mr-4">
                                <a class="opacity-70 hover:opacity-100">
                                    <fa-icon class="mr-1" [icon]="'bug'" [fixedWidth]="true"></fa-icon>
                                    <span>Device 4</span>
                                </a>
                            </li>
                            <li class="inline-block py-2 mr-4">
                                <a class="opacity-70 hover:opacity-100">
                                    <fa-icon class="mr-1" [icon]="'bug'" [fixedWidth]="true"></fa-icon>
                                    <span>Device 5</span>
                                </a>
                            </li>
                        </ul>
                    </slot-content>
                    <slot-buttons>
                        <a>
                            <fa-icon class="ml-2 opacity-70 hover:opacity-100" [icon]="'trash'" [fixedWidth]="true">
                            </fa-icon>
                        </a>
                        <a>
                            <fa-icon class="ml-2 opacity-70 hover:opacity-100" [icon]="'plus'" [fixedWidth]="true">
                            </fa-icon>
                        </a>
                    </slot-buttons>
                </app-card>
            </div>
        </ng-container>
    </div>
</app-content>