<div class="subheader-container">
  <div class="subheader-item-container">
    <ul>
      <li
        *ngFor="let place of places"
        [class]="currentTabId === place.id ? 'active' : ''"
      >
        <a (click)="changeTab(place.id)">{{ place.name }}</a>
      </li>
    </ul>
  </div>
</div>
<div class="devices-container">
  <div *ngFor="let place of places" class="tab-content">
    <ng-container *ngIf="currentTabId === place.id">
      <ul>
        <li>
          <div class="basic-card">
        <span class="title-card">{{ place.name }}</span>
      </div>
        </li>
      </ul>
      <!-- <ul>
        <li *ngFor="let place of places">
          <div class="basic-card tab1">
            {{ place.name }}
          </div>
        </li>
      </ul> -->
    </ng-container>
  </div>
</div>
