<h1>Places</h1>
<div class="devices-container">
    <ul>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
    </ul>
</div>