<div class="subheader-container">
    <div class="subheader-item-container"></div>
</div>
<div class="devices-container">
    <ul>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
    </ul>
</div>