<div class="subheader-container">
    <div class="subheader-item-container">
        <ul>
            <li><a>Logs</a></li>
        </ul>
    </div>
</div>
<div class="devices-container">
    <ul>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
    </ul>
</div>