<div class="flex flex-row h-screen">
    <div class="flex flex-shrink border-r-2 bg-second text-first border-forth">
        <app-aside></app-aside>
    </div>
    <div class="flex flex-col flex-grow">
        <div
             class="border-b-2 bg-second text-first border-forth lg:border-third lg:bg-first lg:text-second lg:dark:border-forth lg:dark:bg-second lg:dark:text-first">
            <app-header></app-header>
        </div>
        <app-subheader></app-subheader>
        <div class="h-full overflow-y-auto bg-third text-second dark:bg-forth dark:text-first">
            <router-outlet></router-outlet>
        </div>
        <div class="border-t-2 bg-first text-second border-third dark:bg-second dark:text-first dark:border-forth">
            <app-footer></app-footer>
        </div>
    </div>
</div>