<app-card>
    <slot-title>
        <a [routerLink]="['/dashboard/devices', device.id]" *ngIf="!editing">
            {{ device.name }}
        </a>
        <ng-container *ngIf="editing">
            <form (submit)="save()">
                <input type="text" class="input" name="name" [(ngModel)]="device.name">
            </form>
        </ng-container>
    </slot-title>
    <slot-content>
        <div class="opacity-80">MAC Address: {{ device.mac_address}}</div>
        <div class="opacity-80">IP Address: {{ device.ip_address}}</div>
        <div class="opacity-80">
            Parameters:
            <ul class="inline">
                <li class="inline ml-1" *ngFor="let p of device.parameters">{{ p.name }}</li>
            </ul>
        </div>
    </slot-content>
    <slot-buttons>
        
    </slot-buttons>
</app-card>

<ng-template #showModal>
    <span>Are you sure to remove this place? This will remove all children places and devices belonging to this
        place.</span>
</ng-template>

<ng-template #buttons>
    <button (click)="onConfirmDelete()" class="btn button-danger">Remove</button>
</ng-template>