<div class="relative inline-block text-left app-dropdown">
    <div>
        <a (click)="toggle()">
            <fa-icon class="ml-2 opacity-70 hover:opacity-100"
                     [icon]="'plus'"
                     [fixedWidth]="true">
            </fa-icon>
        </a>
    </div>
    <div class="origin-top-right absolute right-0 mt-2 w-56
                 rounded-md shadow-lg bg-first border border-second focus:outline-none"
         [class]="open ? 'inline' : 'hidden'"
         role="menu"
         aria-orientation="vertical"
         aria-labelledby="menu-button"
         tabindex="-1">
        <div class="py-1"
             role="none">
            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
            <ng-content select="slot-options"></ng-content>
        </div>
    </div>
</div>