<div class="relative inline-block text-left app-dropdown">
    <div>
        <a (click)="toggle()">
            <fa-icon class="ml-2 cursor-pointer opacity-70 hover:opacity-100" [icon]="icon" [fixedWidth]="true">
            </fa-icon>
        </a>
    </div>
    <div class="absolute right-0 w-56 mt-2 border shadow-lg border-third dark:border-forth bg-first dark:bg-second focus:outline-none"
        [class]="open ? 'inline' : 'hidden'" role="menu" aria-orientation="vertical" aria-labelledby="menu-button"
        tabindex="-1">
        <div role="none" class="cursor-pointer ">
            <ng-content select="slot-options"></ng-content>
        </div>
    </div>
</div>