<div
    class="fixed bottom-0 left-0 right-0 justify-between hidden h-24 bg-white border border-t border-gray-200 dark:bg-gray-900 dark:border-black dark:border-opacity-20 sm:flex sm:left-20 lg:left-80">
    <div class="flex items-center">
        <ul>
            <li class="inline-block ml-6">
                <a
                    class="p-4 text-gray-900 cursor-pointer dark:text-white rounded-2xl hover:bg-gray-900 dark:hover:bg-white hover:text-white dark:hover:text-gray-900">About</a>
            </li>
            <li class="inline-block ml-6">
                <a
                    class="p-4 text-gray-900 cursor-pointer dark:text-white rounded-2xl hover:bg-gray-900 dark:hover:bg-white hover:text-white dark:hover:text-gray-900">Team</a>
            </li>
            <li class="inline-block ml-6">
                <a
                    class="p-4 text-gray-900 cursor-pointer dark:text-white rounded-2xl hover:bg-gray-900 dark:hover:bg-white hover:text-white dark:hover:text-gray-900">Contact</a>
            </li>
        </ul>
    </div>
    <div class="flex items-center mr-6 text-gray-900 dark:text-white">
        <span class="mr-6 opacity-50">2021©</span> 
        <span class="uppercase">IoT Management System</span>
    </div>
</div>