<div class="flex flex-col justify-between h-screen text-lg whitespace-nowrap group"
    [class]="sidebarToggled ? 'hidden' : 'show'" id="nav-links">
    <div class="hidden border-b-2 lg:flex border-forth">
        <a class="hidden mx-4 my-8 font-bold uppercase transition-opacity duration-200 opacity-90 hover:opacity-100 xl:inline-block group-hover:inline-block"
            [class]="sidebarToggled ? 'hidden' : 'show'" routerLink="/dashboard">IoT Management System</a>
    </div>
    <div class="hidden lg:flex">
        <ul class="w-full">
            <li class="w-full">
                <a class="aside-tab" [class]="sidebarToggled ? 'hidden' : 'show'" routerLink="/dashboard/places"
                    [routerLinkActive]="['active', 'bg-forth']">
                    <fa-icon [icon]="'map-marker'" [fixedWidth]="true"></fa-icon>
                    <span class="aside-tab-name">Places</span>
                </a>
            </li>
            <li class="w-full">
                <a class="aside-tab" [class]="sidebarToggled ? 'hidden' : 'show'" routerLink="/dashboard/devices"
                    [routerLinkActive]="['active', 'bg-forth']">
                    <fa-icon [icon]="'bug'" [fixedWidth]="true"></fa-icon>
                    <span class="aside-tab-name">Devices</span>
                </a>
            </li>
            <li class="w-full">
                <a class="aside-tab" [class]="sidebarToggled ? 'hidden' : 'show'" routerLink="/dashboard/logs"
                    [routerLinkActive]="['active', 'bg-forth']">
                    <fa-icon [icon]="'book-open'" [fixedWidth]="true"></fa-icon>
                    <span class="aside-tab-name">Logs</span>
                </a>
            </li>
        </ul>
    </div>
</div>