<div class="subheader-container">
    <div class="subheader-item-container">
        <ul>
            <li><a href="#">All</a></li>
            <li><a href="#">Distance</a></li>
            <li><a href="#">Heat Index</a></li>
            <li><a href="#">Humidity</a></li>
            <li><a href="#">Pressure</a></li>
            <li><a href="#">Temperature</a></li>
        </ul>
    </div>
</div>
<div class="devices-container">
    <ul>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
        <li>
            <div class="basic-card"></div>
        </li>
    </ul>
</div>