<div class="subheader-container">
    <div class="subheader-item-container">
        <ul>
            <li *ngFor="let tab of tabs" [class]="currentTabId === tab.id ? 'active' : ''"><a (click)="changeTab(tab.id)">{{ tab.name }}</a></li>
        </ul>
    </div>
</div>
<div class="devices-container">
    <div *ngFor="let tab of tabs" class="tab-content">
        <ng-container *ngIf="currentTabId === tab.id">
            <ul>
                <li *ngFor="let card of counter(tab.cardCount)">
                    <div class="basic-card"></div>
                </li>
            </ul>
        </ng-container>
    </div>
</div>