<app-subheader>
    <ul>
        <li class="inline mr-12 opacity-50 hover:opacity-100 active:opacity-100 dark:text-white" *ngFor="let tab of tabs" [class]="currentTabId === tab.id ? 'opacity-100' : ''">
            <a class="cursor-pointer" (click)="changeTab(tab.id)">{{ tab.name }}</a>
        </li>
    </ul>
</app-subheader>

<div class="devices-container">
    <div *ngFor="let tab of tabs" class="tab-content">
        <ng-container *ngIf="currentTabId === tab.id">
            <ul>
                <li *ngFor="let card of counter(tab.cardCount)">
                    <div class="basic-card"></div>
                </li>
            </ul>
        </ng-container>
    </div>
</div>