.header-item-container li:nth-child(4) a {
    background-color: #1E1E2D;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .header-item-container li:nth-child(4) {
        display: inline-block;
    }

    .header-item-container li:nth-child(4) a {
        background-color: #FFFFFF;
        color: #1E1E2D;
    }

    .header-item-container li:nth-child(4):hover a {
        background-color: #1E1E2D;
        color: #FFFFFF;
    }
}