.basic-card {
    margin-bottom: 20px;
    height: auto;
    padding: 20px;
}

.title-card {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-right);
    color: var(--second-text-color);
}

.settings-element {
    margin-top: 15px;
    margin-bottom: 5px;
    color: var(--second-text-color);
}