<div class="subheader-container">
    <div class="subheader-item-container">
        <ul>
            <li><a>Settings</a></li>
        </ul>
    </div>
</div>
<div class="settings-container">
    <ul>
        <li>
            <div class="basic-card">
                <span class="title-card">Login Settings</span>
                <div class="card-element">Email: </div>
                <div class="card-element">Password: </div>
            </div>
        </li>
        <li>
            <div class="basic-card">
                <span class="title-card">User Settings</span>
                <div class="card-element">Name: </div>
                <div class="card-element">Surname: </div>
                <div class="card-element">Mobile: </div>
            </div>
        </li>
    </ul> 
</div>