<div class="subheader-container">
    <div class="subheader-item-container">

    </div>
</div>
<div class="settings-container">
    <div class="basic-card">
        <span class="title-card">User Settings</span>
        <div class="settings-element">Email: </div>
        <div class="settings-element">Password: </div>
    </div>
    <div class="basic-card">
        <span class="title-card">Login Settings</span>
        <div class="settings-element">Name: </div>
        <div class="settings-element">Surname: </div>
        <div class="settings-element">Mobile: </div>
    </div>
</div>